.example-action-buttons {
    padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.id {
    width: 200px;
}

.inputs {
    display: flex;
    padding-top: 3px;
    width: 100%;
}
