<div class="card container">
    <div class="card-body">
        <!-- <div class="search container">
            <input class="form-control me-2" [matAutocomplete]="auto" type="search" placeholder="Search" aria-label="Search" [ngModelOptions]="{standalone: true}" [(ngModel)]="search" (ngModelChange)="getOptions()">
            <mat-autocomplete #auto="matAutocomplete">
                <div *ngFor="let item of searchList">
                  <mat-option [value]="item">{{item}}</mat-option>
                </div>
            </mat-autocomplete>
            <button (click)="onSearch()" style="height: 40px;" mat-fab extended color="primary">
                <mat-icon *ngIf="search.length">search</mat-icon>
                <mat-icon *ngIf="!search.length">refresh</mat-icon>
                <span *ngIf="search.length">Search</span>
                <span *ngIf="!search.length">refresh</span>
            </button>
        </div> -->
        <div *ngIf="chartOptions" id="chart">
            <apx-chart
              [series]="chartOptions.series!"
              [chart]="chartOptions.chart!"
              [plotOptions]="chartOptions.plotOptions!"
              [labels]="chartOptions.labels!"
              [fill]="chartOptions.fill!"
            ></apx-chart>
        </div>
        <!-- <p>&nbsp;</p> -->
        <div class="chips">
            <mat-chip-listbox aria-label="Fish selection">
                <mat-chip-option (click)="setChart(pending, '#3f51b5')" selected>Pending</mat-chip-option>
                <mat-chip-option (click)="setChart(accepted, '#ff4081')" color="accent">Approved</mat-chip-option>
                <mat-chip-option (click)="setChart(rejected, '#f44336')" color="warn">Rejected</mat-chip-option>
            </mat-chip-listbox>
        </div>
    </div>
</div>
