#chart {
    width: 100%;
    height: 260px;
    /* margin-top: -50px; */
}

.card {
    width: 100%;
    height: 400px;
}

.search {
    padding-bottom: 15px;
    width: 400px;
    display: flex;
    justify-content: center;
}

.chips {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
