#chart {
    width: 100%;
    height: 300px;
    margin-top: -50px;
}

.card {
    width: 100%;
    height: 400px;
}

.chips {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
